$horizontal-slider-end-cap-width : 10px !default;
$horizontal-slider-thumb-height : 19px !default;
$horizontal-slider-thumb-width : 19px !default;

$vertical-slider-end-cap-height : 7px !default;
$vertical-slider-thumb-height : 13px !default;
$vertical-slider-thumb-width : 33px !default;