$window-padding: 0 !default;
$window-base-color: #424242 !default;
$window-body-border-width: 1px !default;
$window-border-width: $panel-frame-border-width !default;
$window-header-border-width: $window-border-width !default;
$window-include-border-management-rules: true !default;