$btn-group-background-color: #fff !default;
$btn-group-border-radius: 3px !default;
$btn-group-border-color: #cacaca;
$btn-group-border-width: 0 !default;

$btn-group-framed-background-color: #fff !default;
$btn-group-framed-border-radius: 3px !default;
$btn-group-framed-border-width: 4px !default;

$btn-group-header-background-color: #cacaca !default;